[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
"kernel:install" = "ipython kernel install --user --name=MSBA"
"kernel:uninstall" = "jupyter kernelspec uninstall MSBA"
ssh-client = 'bash -c "ssh-add -K ~/.ssh/$agent-rsa; ssh-add -l"'

[packages]
numpy = "*"
matplotlib = "*"
pulp = "*"
scipy = "*"
pandas = "*"
cytoolz = "*"
xlrd = "*"
mesa = "*"
plotnine = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"
ansible = "*"

[requires]
python_version = "3.7"
