[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pulp = "*"
scipy = "*"
pandas = "*"
cytoolz = "*"
xlrd = "*"
mesa = "*"
plotnine = "*"

[dev-packages]
jupyter = "*"
python-language-server = {extras = ["yapf"],version = "*"}
jupyter-contrib-nbextensions = "*"
hide-code = "*"

[requires]
python_version = "3.7"
