[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pulp = "*"
scipy = "*"
pandas = "*"
cytoolz = "*"

[dev-packages]
jupyter = "*"
python-language-server = {version = "*", extras = ["yapf"]}

[requires]
python_version = "3.7"
